<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            Logged by 500
        </div>
        <div class="col-4">
            <img src="" alt="" class="circle bg-light" />
        </div>
        <div class="col-8">James Charles</div>
        <div class="col-4">
            <img src="" alt="" class="circle bg-light" />
        </div>
        <div class="col-8">James Charles</div>
        <div class="col-4">
            <img src="" alt="" class="circle bg-light" />
        </div>
        <div class="col-8">James Charles</div>
        <div class="col-4">
            <img src="" alt="" class="circle bg-light" />
        </div>
        <div class="col-8">James Charles</div>
        <div class="col-4">
            <img src="" alt="" class="circle bg-light" />
        </div>
        <div class="col-8">James Charles</div>
        <div class="col-4">
            <img src="" alt="" class="circle bg-light" />
        </div>
        <div class="col-8">James Charles</div>
    </div>
</div>