<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <img class="circle bg-light" src="" alt="" width="100px" height="100px">
        </div>
        <div class="col-8">
            Barbra Koske<br>
            Aries <br>
            <a routerLink="/index/profile/edit">Edit Profile</a>
        </div>
        <div class="col-6">
            Logged by 500
        </div>
        <div class="col-6">
            Connects 600
            <i class="fa fa-caret"></i>
        </div>
        <div class="col-11">
            <i class="fa fa-profile"></i>
            My Accounts
        </div>
        <div class="col-1">
            <button type="button" mat-button [matMenuTriggerFor]="menu" title="" class="btn btn-sm"><i
                    class="bi bi-arrow-clockwise"></i></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <i class="fa fa-people"></i>
                    Create account</button>
                <button mat-menu-item>
                    <i class="fa fa-clock"></i>
                    Switch account</button>
            </mat-menu>
        </div>
        <div class="col-11">
            <i class="fa fa-profile"></i>
            My Accounts
        </div>
        <div class="col-1">
            <button type="button" mat-button [matMenuTriggerFor]="menu" title="" class="btn btn-sm"><i
                    class="bi bi-arrow-clockwise"></i></button>
        </div>
        <div class="col-11">
            <i class="fa fa-profile"></i>
            Alert
        </div>
        <div class="col-1">
            <button type="button" mat-button [matMenuTriggerFor]="menu" title="" class="btn btn-sm"><i
                    class="bi bi-arrow-clockwise"></i></button>
        </div>
        <div class="col-11">
            <i class="fa fa-profile"></i>
            Time zone
        </div>
        <div class="col-1">
            <button type="button" mat-button [matMenuTriggerFor]="menu" title="" class="btn btn-sm"><i
                    class="bi bi-arrow-clockwise"></i></button>
        </div>
        <div class="col-11">
            <i class="fa fa-profile"></i>
            Privacy Settings
        </div>
        <div class="col-1">
            <button type="button" mat-button [matMenuTriggerFor]="menu" title="" class="btn btn-sm"><i
                    class="bi bi-arrow-clockwise"></i></button>
        </div>
        <div class="col-11">
            <i class="fa fa-profile"></i>
            Policy
        </div>
        <div class="col-1">
            <button type="button" mat-button [matMenuTriggerFor]="menu" title="" class="btn btn-sm"><i
                    class="bi bi-arrow-clockwise"></i></button>
        </div>
        <div class="col-11">
            <i class="fa fa-profile"></i>
            Help
        </div>
        <div class="col-1">
            <button type="button" mat-button [matMenuTriggerFor]="menu" title="" class="btn btn-sm"><i
                    class="bi bi-arrow-clockwise"></i></button>
        </div>
        <div class="col-11">
            <i class="fa fa-profile"></i>
            Logout
        </div>
        <div class="col-1">
            <button type="button" mat-button [matMenuTriggerFor]="menu" title="" class="btn btn-sm"><i
                    class="bi bi-arrow-clockwise"></i></button>
        </div>
    </div>
</div>
</div>