<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <mat-tab-group>
                <mat-tab label="Your Brand Connects">
                    <div class="row">
                        <div class="col-4">
                            <div>
                                <img src="" alt="" width="100px" height="100px" class="circle" />
                            </div>
                            <div>
                                Kempinski
                                <button class="btn btn-sm" mat-button [matMenuTriggerFor]="menu">
                                    <i class="fa fa-3dots">.</i>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item>
                                        <i class="fa fa-trash"></i>
                                        Unconnect</button>
                                    <button mat-menu-item>
                                        <i class="fa fa-hide"></i>
                                        Report</button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="col-4">
                            <div>
                                <img src="" alt="" width="100px" height="100px" class="circle" />
                            </div>
                            <div>
                                Kempinski
                                <button class="btn btn-sm" mat-button [matMenuTriggerFor]="menu">
                                    <i class="fa fa-3dots">.</i>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item>
                                        <i class="fa fa-trash"></i>
                                        Unconnect</button>
                                    <button mat-menu-item>
                                        <i class="fa fa-hide"></i>
                                        Report</button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="col-4">
                            <div>
                                <img src="" alt="" width="100px" height="100px" class="circle" />
                            </div>
                            <div>
                                Kempinski
                                <button class="btn btn-sm" mat-button [matMenuTriggerFor]="menu">
                                    <i class="fa fa-3dots">.</i>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item>
                                        <i class="fa fa-trash"></i>
                                        Unconnect</button>
                                    <button mat-menu-item>
                                        <i class="fa fa-hide"></i>
                                        Report</button>
                                </mat-menu>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Other Brands">
                    <div class="row">
                        <div class="col-4">
                            <div>
                                <img src="" alt="" width="100px" height="100px" class="circle" />
                            </div>
                            <div>
                                Kempinski
                                <button class="btn btn-sm" mat-button [matMenuTriggerFor]="menu">
                                    <i class="fa fa-3dots">.</i>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item>
                                        <i class="fa fa-trash"></i>
                                        Unconnect</button>
                                    <button mat-menu-item>
                                        <i class="fa fa-hide"></i>
                                        Report</button>
                                </mat-menu>
                            </div>
                            <div>
                                <a routerLink="/connects/connectionValue" class="btn btn-success">Connect</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div>
                                <img src="" alt="" width="100px" height="100px" class="circle" />
                            </div>
                            <div>
                                Kempinski
                                <button class="btn btn-sm" mat-button [matMenuTriggerFor]="menu">
                                    <i class="fa fa-3dots">.</i>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item>
                                        <i class="fa fa-trash"></i>
                                        Unconnect</button>
                                    <button mat-menu-item>
                                        <i class="fa fa-hide"></i>
                                        Report</button>
                                </mat-menu>
                            </div>

                            <div>
                                <a routerLink="/connects/connectionValue" class="btn btn-success">Connect</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div>
                                <img src="" alt="" width="100px" height="100px" class="circle" />
                            </div>
                            <div>
                                Kempinski
                                <button class="btn btn-sm" mat-button [matMenuTriggerFor]="menu">
                                    <i class="fa fa-3dots">.</i>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item>
                                        <i class="fa fa-trash"></i>
                                        Unconnect</button>
                                    <button mat-menu-item>
                                        <i class="fa fa-hide"></i>
                                        Report</button>
                                </mat-menu>
                            </div>

                            <div>
                                <a routerLink="/connects/connectionValue" class="btn btn-success">Connect</a>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>