<div class="container-fluid">
    <div class="row mt-18pc">
        <div class="col-12">Reason for declining the package</div>
        <div class="col-8">Emergency situation</div>
        <div class="col-4">
            <button class="btn btn-success">
                SELECT
            </button>
        </div>
        <div class="col-8">Unavailable</div>
        <div class="col-4">
            <button class="btn btn-success">
                SELECT
            </button>
        </div>
        <div class="col-8">Sickness of staff</div>
        <div class="col-4">
            <button class="btn btn-success">
                SELECT
            </button>
        </div>
        <div class="col-12">
            <button class="btn btn-success">
                DONE
            </button>
        </div>
    </div>
</div>