<div class="modal-header" style="border-bottom: 0px solid !important">
    <button type="button" class="close" (click)="activeModal.dismiss()" >&times;</button>

</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12 margin_30 text-center">
            <h5>Create your wallet to receive your gift plus </h5>
            <h2 class="wallet_activation margin_30">$1500</h2>
            <h5 class="wallet_activation_1"> Birthday Shopping Voucher</h5>
            <h5 class="">Care shopping challange participation bonus <br> Dedicated for your 5 other invited shoppers
                that you really care about</h5>

            <div class="col-12 margin_45">
                <button (click)="activateWallet()" class="btn btn-success btn-lg">
                    Create Wallet
                </button>

            </div>

        </div>
    </div>

</div>
<div class="modal-footer" style="border-top: 0px solid !important">

</div>