<div id="home2" class="container"><br>
    <h6 class="text-center">Policy and Terms of use </h6>

    <p>Sed ut perspiciatis unde omnis iste natus error sit
        voluptatem
        accusantium doloremque laudantium, totam rem aperiam.</p>
    <p>Sed ut perspiciatis unde omnis iste natus error sit
        voluptatem
        accusantium doloremque laudantium, totam rem aperiam.</p>
    <p>Sed ut perspiciatis unde omnis iste natus error sit
        voluptatem
        accusantium doloremque laudantium, totam rem aperiam.</p>
    <p>Sed ut perspiciatis unde omnis iste natus error sit
        voluptatem
        accusantium doloremque laudantium, totam rem aperiam.</p>
    <p>Sed ut perspiciatis unde omnis iste natus error sit
        voluptatem
        accusantium doloremque laudantium, totam rem aperiam.</p>
    <p>Sed ut perspiciatis unde omnis iste natus error sit
        voluptatem
        accusantium doloremque laudantium, totam rem aperiam.</p>
    <p>Sed ut perspiciatis unde omnis iste natus error sit
        voluptatem
        accusantium doloremque laudantium, totam rem aperiam.</p>
</div>