<div class="container-fluid">
    <div class="row">
        <div class="col-12">Create new log story</div>
        <div class="col-3 offset-9">
            <button class="btn btn-success">CUSTOMIZE</button>
        </div>
        <div class="col-8">Turning a year older, Happy birthday to me</div>
        <div class="col-4">
            <button class="btn btn-outline-warning">SELECT</button>
        </div>
        <div class="col-3 offset-9">
            <a routerLink="repost/previewLog" class="btn btn-success">NEXT</a>
        </div>
    </div>
</div>