<div class="row">
    <div class="col-12">
        <div class="widget widget-chart-three">
            <div class="widget-content animated-underline-content widget-content-area">
                <div id="uniqueVisits">
                    <div class="col-12">

                        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-tabs nav-fill mb-3"
                            id="animateLine" role="tablist">
                            <li [ngbNavItem]="1" class="nav-item">
                                <a ngbNavLink>Your Logs</a>
                                <ng-template ngbNavContent>
                                    <div class="row" *ngIf="yourLogs.length===0">
                                        <div class="col-12 text-center margin_50">
                                            <i class="fa fa-camera" style="font-size:200px"></i>
                                            <p>You have 0 posted logs</p>

                                        </div>

                                    </div>
                                    <div class="row" *ngIf="yourLogs.length>0">
                                        <div class="col-md-6" *ngFor="let logPost of yourLogs">
                                            <div class="card component-card_9">
                                                <a routerLink="/index/home">
                                                    <img src="{{configService.getServerUrl()+logPost.logImages[0]!?.url}}"
                                                        class="card-img-top package_images" alt="widget-card-2">
                                                </a>
                                                <div class="card-body package-listing-footer">

                                                    <div class="row">
                                                        <div class="col-2">
                                                            <a routerLink="/index/profile/profile/{{logPost.log.shopper.id}}">
                                                                <img src="{{configService.getServerUrl()+logPost.log.shopper.profilePicUrl}}"
                                                                    class="icons_logs" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="col-5">
                                                            <a routerLink="/index/profile/profile/{{logPost.log.shopper.id}}">
                                                                <h6 class="mt-3 log_name">
                                                                    {{logPost.log.shopper.firstName}}
                                                                    {{logPost.log.shopper.lastName}}</h6>
                                                            </a>
                                                        </div>
                                                        <div class="col-5">
                                                            <button (click)="repost(logPost.id)"
                                                                class="btn btn-success logs-btn btn-sm">REPOST</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2" class="nav-item">
                                <a ngbNavLink>Suggested Logs</a>
                                <ng-template ngbNavContent>
                                    <div class="row">
                                        <div class="col-md-6" *ngFor="let suggestedLog of suggestedLogs">

                                            <div class="card component-card_9">
                                                <a routerLink="/index/home">
                                                    <img src="{{configService.getServerUrl()+suggestedLog.logImages[0]!?.url}}"
                                                        class="card-img-top package_images" alt="widget-card-2">
                                                </a>
                                                <div class="card-body package-listing-footer">

                                                    <span class="badge badge-success pre-pre ">PRE</span>

                                                    <div class="row">
                                                        <div class="col-2">
                                                            <a
                                                                routerLink="/index/profile/profile/{{suggestedLog.log.shopper.id}}">
                                                                <img src="{{configService.getServerUrl()+suggestedLog.log.shopper.profilePicUrl}}"
                                                                    class="icons_logs" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="col-5">
                                                            <a
                                                                routerLink="/index/profile/profile/{{suggestedLog.log.shopper.id}}">
                                                                <h6 class="mt-3 log_name">
                                                                    {{suggestedLog.log.shopper.firstName}}
                                                                    {{suggestedLog.log.shopper.lastName}}</h6>
                                                            </a>
                                                        </div>
                                                        <div class="col-5">
                                                            <!-- <button class="btn btn-success logit">
                                                                    <i class="fa fa-plus"></i> Log it
                                                                </button> -->
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav" class="mt-2"></div>
                    </div>

                </div>
            </div>
        </div>

    </div>