<div class="container-fluid">
    <div class="row mt-18pc">
        <div class="col-12">Pledge Plan Balance</div>
        <div class="col-12">$104</div>
        <div class="col-12">Pledge Amount options</div>
        <div class="col-12">
            <div class="row">
                <div class="col-8">
                    <div>
                        $20
                    </div>
                    <div>
                        5 remaining
                    </div>
                </div>
                <div class="col-4">
                    <button class="btn btn-success">Pledge</button>
                </div>
                <div class="col-8">
                    <div>
                        $20
                    </div>
                    <div>
                        5 remaining
                    </div>
                </div>
                <div class="col-4">
                    <button class="btn btn-success">Pledge</button>
                </div>
                <div class="col-8">
                    <div>
                        $20
                    </div>
                    <div>
                        5 remaining
                    </div>
                </div>
                <div class="col-4">
                    <button class="btn btn-success">Pledge</button>
                </div>
                <div class="col-8">
                    <div>
                        $20
                    </div>
                    <div>
                        5 remaining
                    </div>
                </div>
                <div class="col-4">
                    <button class="btn btn-success">Pledge</button>
                </div>
                <div class="col-8">
                    <div>
                        $20
                    </div>
                    <div>
                        5 remaining
                    </div>
                </div>
                <div class="col-4">
                    <button class="btn btn-success">Pledge</button>
                </div>
                <div class="col-8">
                    <div>
                        $20
                    </div>
                    <div>
                        5 remaining
                    </div>
                </div>
                <div class="col-4">
                    <button class="btn btn-success">Pledge</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a routerLink="addGift/pledgePlan" class="btn btn-success">CONFIRM</a>
                </div>
            </div>
        </div>
    </div>
</div>