<div class="container-fluid">
    <div class="row mt-18pc">
        <div class="col-12">Select Pledge Mode</div>
        <div class="col-8">Private Mode
            <a routerLink="addGift/privateModeInformation" class="btn btn-sm">
                <i class="fa fa-info text-warning"></i>
            </a>
        </div>
        <div class="col-4">
            <button class="btn btn-success">
                SELECT
            </button>
        </div>
        <div class="col-8">Public Mode
            <a routerLink="addGift/publicModeInformation" class="btn btn-sm">
                <i class="fa fa-info text-warning"></i>
            </a>
        </div>
        <div class="col-4">
            <button class="btn btn-success">
                SELECT
            </button>
        </div>
    </div>
</div>