<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            Input your connection value
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-8">
                    My best brand
                </div>
                <div class="col-4">
                    <button class="btn btn-outline-warning">SELECT</button>
                </div>
                <div class="col-8">
                    My classy brand
                </div>
                <div class="col-4">
                    <button class="btn btn-outline-warning">SELECT</button>
                </div>
                <div class="col-8">
                    My go to brand
                </div>
                <div class="col-4">
                    <button class="btn btn-outline-warning">SELECT</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <a routerLink="/connects/confirmationMessage" class="btn btn-success">NEXT</a>
        </div>
    </div>
</div>