<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card component-card_1 new_card">
                <div class="card-body">
                    <form class="card_form_1">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">

                                <label class="form-label-mine" for="">Share this invitation code to invite your
                                    friends</label>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <div class="card component-card_1">
                                    <div class="card-body">
                                        <div class="col-12 offset-md-3">
                                            <h6>Share to:</h6>
                                        </div>
                                        <div class="row my-4">

                                            <div class="col-4">
                                                <a href="javascript:void(0)" (click)="shareWhatsapp()">

                                                    <img class="social_media_icons" src="assets/brandlogs/whatsapp.png">
                                                </a>
                                                <p></p>
                                            </div>
                                            <div class="col-4">
                                                <a routerLink="/index/home">
                                                    <img class="social_media_icons" src="assets/brandlogs/facebook.png">
                                                </a>


                                            </div>
                                            <div class="col-4">
                                                <a routerLink="/index/home">
                                                    <img class="social_media_icons"
                                                        src="assets/brandlogs/share_link.png">
                                                </a>

                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-4">
                                                <a routerLink="/index/home">
                                                    <img class="social_media_icons" src="assets/brandlogs/ig.png">
                                                </a>
                                                <p></p>
                                            </div>
                                            <div class="col-4">
                                                <a routerLink="/index/home">
                                                    <img class="social_media_icons" src="assets/brandlogs/tiktok.png">
                                                </a>


                                            </div>
                                            <div class="col-4">
                                                <a routerLink="/index/home">
                                                    <img class="social_media_icons" src="assets/brandlogs/email.png">
                                                </a>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>




                    </form>
                </div>
            </div>

        </div>
    </div>

</div>