<div class="container-fluid">
    <div class="row mt-18pc">
        <div class="col-12">Select Pledge Type</div>
        <div class="col-8">One way pledge
            <a routerLink="addGift/oneWayPledgeInformation" class="btn btn-sm">
                <i class="fa fa-info text-warning"></i>
            </a>
        </div>
        <div class="col-4">
            <button class="btn btn-success">
                SELECT
            </button>
        </div>
        <div class="col-8">Two way pledge
            <a routerLink="addGift/twoWayPledgeInformation" class="btn btn-sm">
                <i class="fa fa-info text-warning"></i>
            </a>
        </div>
        <div class="col-4">
            <button class="btn btn-success">
                SELECT
            </button>
        </div>
        <div class="col-12">
            <a routerLink="" class="btn btn-success">
                CONFIRM
            </a>
        </div>
    </div>
</div>