<div class="container-fluid">
    <div class="row mt-18pc">
        <div class="col-12">You have 90 days to Ashleys event</div>
        <div class="col-12">Select Payment Plan</div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    Daily plan
                </div>
                <div class="col-3">
                    $1
                </div>
                <div class="col-3">
                    <button class="btn btn-success">SELECT</button>
                </div>
                <div class="col-6">
                    Weekly plan
                </div>
                <div class="col-3">
                    $1
                </div>
                <div class="col-3">
                    <button class="btn btn-success">SELECT</button>
                </div>
                <div class="col-6">
                    Monthly plan
                </div>
                <div class="col-3">
                    $1
                </div>
                <div class="col-3">
                    <button class="btn btn-success">SELECT</button>
                </div>
                <div class="col-6">
                    Pay in full
                </div>
                <div class="col-3">
                    $1
                </div>
                <div class="col-3">
                    <button class="btn btn-success">SELECT</button>
                </div>
            </div>
            <div class="col-12">
                <a href="" class="btn btn-success">CONFIRM</a>
            </div>
        </div>
    </div>
</div>