<div class=" d-none d-lg-block">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link nav-settings icon-normal" id="v-pills-home-tab" data-toggle="tab"
            routerLink="/settings/logsnotifications" role="tab" aria-controls="v-pills-home" aria-selected="true"><i
                class="fa fa-bell text-muted mr-2" style="font-size:25px"></i>
            Log Notifications</a>
        <a class="nav-link nav-settings icon-normal " id="v-pills-home-tab" data-toggle="tab"
            routerLink="/settings/timezone" role="tab" aria-controls="v-pills-home" aria-selected="true"> <i
                class="fa fa-clock-o  fa-2x text-muted mr-2" style="font-size:25px"></i> Time Zone </a>
        <a class="nav-link nav-settings icon-normal " id="v-pills-home-tab" data-toggle="tab"
            routerLink="/settings/policy" role="tab" aria-controls="v-pills-home" aria-selected="true"> <i
                class="fa fa-clone  fa-2x text-muted mr-2" style="font-size:25px"></i> Policy</a>

        <a class="nav-link nav-settings icon-normal " id="v-pills-home-tab" data-toggle="tab"
            routerLink="/settings/help" role="tab" aria-controls="v-pills-home" aria-selected="true"> <i
                class="fa fa-question-circle  fa-2x text-muted mr-2" style="font-size:25px"></i>Help</a>
    </div>
</div>

<div class="d-lg-none">
    <div class="sidebar-vh">
        <div class="row justify-content-center">
            <div class="mobile-fixed-nav">
                <div class="col-12 mb-4">
                    <a class="nav-link nav-settings icon-normal" routerLink="/index/home">
                        <i class="fa fa-arrow-left mt-4"></i>
                    </a>
                </div>
                <div class="col-12 my-4">
                    <a class="nav-link nav-settings icon-normal" id="v-pills-home-tab" data-toggle="tab" routerLink="/settings/logsnotifications"
                        role="tab" aria-controls="v-pills-home" aria-selected="true"><i
                            class="fa fa-bell text-muted mr-2" style="font-size:25px"></i></a>
                </div>
                <div class="col-12 my-4">
                    <a class="nav-link nav-settings icon-normal " id="v-pills-home-tab" data-toggle="tab" routerLink="/settings/timezone"
                        role="tab" aria-controls="v-pills-home" aria-selected="true"> <i
                            class="fa fa-clock-o  fa-2x text-muted mr-2" style="font-size:25px"></i></a>
                </div>
                <div class="col-12 my-4">
                    <a class="nav-link nav-settings icon-normal " id="v-pills-home-tab" data-toggle="tab" routerLink="/settings/policy"
                        role="tab" aria-controls="v-pills-home" aria-selected="true"> <i
                            class="fa fa-clone  fa-2x text-muted mr-2" style="font-size:25px"></i></a>
                </div>
                <div class="col-12 my-4">
                    <a class="nav-link nav-settings icon-normal " id="v-pills-home-tab" data-toggle="tab" routerLink="/settings/help"
                        role="tab" aria-controls="v-pills-home" aria-selected="true"> <i
                            class="fa fa-question-circle  fa-2x text-muted mr-2" style="font-size:25px"></i></a>
                </div>

            </div>
        </div>
    </div>
</div>