<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <img src="" alt="" width="200px" height="200px" class="bg-light" />
        </div>
        <div class="col-8">
            <div>Repost this log</div>
            <div>Log Name : Pre-Birthday Fun Package</div>
            <div>Log Date : 22/03/2022</div>
            <div class="row">
                <div class="col-3">likeicon</div>
                <div class="col-3">chaticon</div>
                <div class="col-3">reposticon</div>
                <div class="col-3">shareicon</div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">Upload upto 10 images</div>
        <div class="col-12 border shadow">
            Drop your images here or browse <br>
            SUPPORTS JPEG, JPG, PNG AND SVGS
        </div>

    </div>
    <div class="row">
        <div class="col-3">
            <img src="" alt="" width="200px" height="200px" class="bg-light" />
        </div>
        <div class="col-3">
            <img src="" alt="" width="200px" height="200px" class="bg-light" />
        </div>
        <div class="col-3">
            <img src="" alt="" width="200px" height="200px" class="bg-light" />
        </div>
        <div class="col-3">
            <img src="" alt="" width="200px" height="200px" class="bg-light" />
        </div>
    </div>
    <div class="row">
        <div class="col-3 offset-9">
            <a routerLink="/repost/logStory" class="btn btn-success">NEXT</a>
        </div>
    </div>
</div>