<div class="container-fluid">
    <div class="row">
        <div class="col-12">Preview your log</div>
        <div class="col-1">
            <div class="circle bg-light">B</div>
        </div>
        <div class="col-11">
            <div class="row">
                <div class="col-12">
                    Barbra Koske <br>
                    A year older in two months, looking forward to fun filled birthday
                </div>
                <div class="col-12">
                    <img src="" alt="" class="bg-light" width="300px" height="300px" />
                </div>
                <div class="col-12 bg-light">
                    <div class="row">
                        <div class="col-4">
                            <img src="" alt="" class="bg-light" width="100px" height="100px" />
                        </div>
                        <div class="col-8">
                            Pre-Birthday Package <br>
                            1st August
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>